/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fredoka-one-regular - latin */
@font-face {
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fredoka-one-v13-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/fredoka-one-v13-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* hind-madurai-regular - latin */
@font-face {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/hind-madurai-v11-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/hind-madurai-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-madurai-500 - latin */
@font-face {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/hind-madurai-v11-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/hind-madurai-v11-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-madurai-600 - latin */
@font-face {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/hind-madurai-v11-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/hind-madurai-v11-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-madurai-700 - latin */
@font-face {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/hind-madurai-v11-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/hind-madurai-v11-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Hind Madurai", "Fredoka One", "Roboto";
}

.container {
  display: inline-block;
  max-width: 1519px;
  margin: 0 auto;
}

.subcontainer {
  max-width: 1182px;
  margin: 0 auto;
}

.site-header__container {
  background-color: #f2ceda;
  height: 780px;
  width: 1600px;
  margin-bottom: 100px;
}

.site-header__logo {
  position: absolute;
  width: 79px;
  height: 79px;
  left: 245px;
  top: 10px;
}

.site-header__ulist {
  display: flex;
  width: 483px;
  margin-top: 41px;
  margin-left: 540px;
}

.site-header__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #150101;
  opacity: 0.6;
  transition: all 0.2s ease;
}

.site-header__first-item,
.site-header__second-item,
.site-header__third-item,
.site-header__fourth-item,
.site-header__fifth-item {
  margin-left: 40px;
}

.site-header__item:hover {
  color: #d23166;
}

.site-header__link {
  display: inline-block;
  padding: 14px 50px;
  background: #d23166;
  border-radius: 5px;
  position: absolute;
  width: 165px;
  height: 49px;
  left: 1205px;
  top: 26px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #fafafa;
  transition: all 0.2s ease;
}

.site-header__link:hover {
  display: inline-block;
  padding: 14px 50px;
  background: #fafafa;
  border: 2px solid #d23166;
  border-radius: 5px;
  position: absolute;
  width: 168px;
  height: 49px;
  left: 1203px;
  top: 24px;
  position: absolute;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #d23166;
}

.icecream__header {
  position: absolute;
  width: 174px;
  height: 16px;
  left: 254px;
  top: 285px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #0f0101;
}

.icecream__subheader {
  position: absolute;
  width: 665px;
  height: 130px;
  left: 254px;
  top: 307px;
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-size: 57.33px;
  line-height: 120.5%;
  color: #0f0101;
  opacity: 0.9;
}

.icecream__subheader-span {
  display: inline-block;
  position: absolute;
  width: 286px;
  margin-left: 15px;
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-size: 57.33px;
  line-height: 120.5%;
  color: #d23166;
  opacity: 0.9;
}

.icecream__text {
  position: absolute;
  width: 523px;
  height: 78px;
  left: 254px;
  top: 472px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #0f0101;
  opacity: 0.6;
}

.icecream__link {
  position: abosolute;
  display: inline-block;
  padding: 14px 50px;
  background: #d23166;
  border-radius: 5px;
  position: absolute;
  width: 165px;
  height: 49px;
  left: 250px;
  top: 616px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #fafafa;
  transition: all 0.2s ease;
}

.icecream__link:hover {
  display: inline-block;
  position: absolute;
  left: 250px;
  top: 616px;
  padding: 14px 50px;
  background: #fafafa;
  border: 2px solid #d23166;
  border-radius: 5px;
  width: 168px;
  height: 49px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #d23166;
}

.icecream__icecream-bg {
  position: absolute;
  width: 365px;
  height: 353px;
  left: 955px;
  top: 411px;
}

.icecream__icecream-shadow {
  position: absolute;
  width: 173px;
  height: 15px;
  left: 1025px;
  top: 782px;
}

.icecream__icecream-milk {
  position: absolute;
  width: 783.79px;
  height: 548.1px;
  left: 735.8px;
  top: 251px;
}

.icecream__icecream-his-self {
  position: absolute;
  width: 597px;
  height: 597px;
  left: 839px;
  top: 126px;
}

.product {
  position: relative;
}

.product__first-product-container {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 252px;
  border-radius: 7px;
  transition: all 0.2s ease;
}

.product__first-product-container:hover {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 252px;
  border-radius: 7px;
  background: #ffffff;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
}

.product__first-img {
  margin-left: 70px;
  margin-bottom: 25px;
  margin-top: 33px;
}

.product__first-img-header {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  margin-left: 35px;
}

.product__first-img-text {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  opacity: 0.6;
}

.product__second-product-container {
  margin-left: 300px;
}

.product__second-img {
  margin-left: 80px;
}

.product__second-img-header {
  margin-left: 25px;
}

.product__third-product-container {
  margin-left: 600px;
}

.product__third-img-header {
  margin-left: 15px;
}

.product__fourth-product-container {
  margin-left: 900px;
}

#product1 {
  margin-bottom: 300px;
  width: 1117px;
}

#oatmea {
  max-width: 1519px;
  position: relative;
  margin-bottom: 100px;
}

.oatmea__container {
  width: 1519px;
  height: 545px;
  background-color: #f8edf0;
}

.oatmea__header {
  position: absolute;
  width: 349px;
  height: 98.27px;
  left: 253px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 49px;
  color: #150101;
  top: 140px;
}

.oatmea__text {
  position: absolute;
  width: 442px;
  height: 58.16px;
  left: 252px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #150101;
  opacity: 0.6;
  top: 255px;
}

.oatmea__link {
  position: absolute;
  width: 165px;
  height: 45.05px;
  left: 252px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fafafa;
  background: #d64374;
  border-radius: 5px;
  padding: 15px 41.5px;
  top: 364px;
  transition: all 0.2s ease;
}

.oatmea__link:hover {
  width: 168px;
  color: #d23166;
  background: #fafafa;
  border: 2px solid #d23166;
}

.oatmea__img {
  position: absolute;
  width: 655px;
  height: 656.8px;
  left: 768px;
  top: -55px;
}

.oatmea__shadow {
  position: absolute;
  width: 283px;
  height: 27.07px;
  left: 958px;
  top: 455px;
  background: #edb5c7;
  opacity: 0.87;
  filter: blur(16px);
}

#pricing {
  position: absolute;
  width: 1121px;
  height: 1506px;
  left: 269px;
}

.pricing__header {
  position: absolute;
  width: 238px;
  height: 61px;
  left: 400px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 61px;
  color: #150101;
}

.pricing__item {
  position: absolute;
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
  transition: all 0.1s ease;
}

.pricing__item:hover {
  position: absolute;
  width: 188px;
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  position: absolute;
  width: auto;
  border-bottom: 3px solid #d64374;
  padding-bottom: 5px;
}

.pricing__first-item {
  position: absolute;
  top: 150px;
  width: 93px;
}

.pricing__second-item {
  position: absolute;
  top: 150px;
  left: 175px;
  width: 188px;
}

.pricing__third-item {
  position: absolute;
  top: 150px;
  left: 445px;
  width: 116px;
}

.pricing__fourth-item {
  position: absolute;
  top: 150px;
  left: 615px;
  width: 111px;
}

.pricing__fifth-item {
  position: absolute;
  top: 150px;
  left: 780px;
  width: 97px;
}

.pricing__sixth-item {
  position: absolute;
  top: 150px;
  left: 920px;
  width: 84px;
}
